<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <input type="radio" id="all" name="filter" checked />
  <label class="filter-button neumorphism-button" for="all">All</label>
  <input type="radio" id="security" name="filter" />
  <label class="filter-button neumorphism-button" for="security">Security</label>
  <input type="radio" id="technical" name="filter" />
  <label class="filter-button neumorphism-button" for="technical">Technical</label>
  <input type="radio" id="general" name="filter" />
  <label class="filter-button neumorphism-button" for="general">General</label>

  {% for security in site.data.skills-securitys %}
    <div skill-type="security" skill-weight="{{security.weight}}" data-aos="zoom-in">
      {{security.name}}
    </div>
  {% endfor %}
  {% for technical in site.data.skills-technicals %}
    <div skill-type="technical" skill-weight="{{technical.weight}}" data-aos="zoom-in">
      {{technical.name}}
    </div>
  {% endfor %}
  {% for general in site.data.skills-generals %}
    <div skill-type="general" skill-weight="{{general.weight}}" data-aos="zoom-in">
      {{general.name}}
    </div>
  {% endfor %}
</div>
